.samplesGridTableItemButton {
  background: Transparent;
  padding: 0%;
  margin-left: 5px;
  margin-top: 5px;
}

.samplesGridTableItem {
  list-style-type: none !important;
  padding: 0;
}

.samplesGridTableItemNamePt {
  white-space: nowrap;
  overflow: hidden;
}

.samplesGridTableItemNameProteinAcronym {
  font-size: small;
  font-weight: bold;
  pointer-events: auto;
  max-width: 160px;
  background: #5cb85c;
  overflow: hidden;
  text-overflow: ellipsis;
}

.samplesItemControlsContainer {
  margin-top: 2px;
}

.scLocation {
  display: flex;
  font-size: 11px;
  float: right;
  pointer-events: none;
  position: absolute;
  margin: 2px;
  top: 0;
  right: 0;
}

.sampleStateBadge {
  margin-left: 5px;
  margin-bottom: 2px;
}

.newQueueOrder {
  position: absolute;
  right: 5%;
  top: 38%;
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #222;
  opacity: 0.3;
}

.labelCustomSuccess {
  color: #464646;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d9edf7;
  font-weight: bolder;
}
