.nodeSample {
  font-size: 1em;
  background-color: white;
}

.nodeSample:not(:last-child) {
  margin-bottom: 1rem;
}

.taskHead {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.taskHead:hover {
  background-color: #eaeaea;
}

.taskHeadSelected {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #adcbda;
}
.taskHeadSelected:hover {
  background-color: #98b2bf !important;
}

.taskHead p,
.taskHeadSelected p {
  margin: 0;
}

.nodeName {
  margin-left: 4px;
  cursor: pointer;
  display: flex;
}

.taskBody {
  margin: 0;
  padding: 0;
}
.taskBody label {
  font-weight: bold;
}
.taskBody button {
  font-weight: bold;
  width: 33%;
}

.taskParametersTable {
  padding: 0px;
  margin: 0px;
  font-size: smaller;
}
.taskParametersTable > thead {
  color: #636363;
}

.taskRunning {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(66, 138, 202, 0.8) !important;
}
.taskSuccess {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(150, 198, 29, 0.52) !important;
}
.taskWarning {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(255, 212, 0, 0.39) !important;
}
.taskError {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(217, 83, 79, 0.56) !important;
}

.resultBody {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
}

.dataPath {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: 'center';
}

.delTask {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #d9534f;
  cursor: pointer;
}

.progressBar {
  height: 18px;
  width: 150px;
  right: 60px;
  margin-left: 10px;
}
