.message {
  padding: 0.25rem 0.75rem;
  border-color: rgb(var(--user-message-color));
  background-color: rgba(var(--user-message-color), 0.2);
}

.message:first-child {
  padding-top: 0.5rem;
}

.message:last-child {
  padding-bottom: 0.5rem;
}

.message[data-severity='INFO'] {
  --user-message-color: 91, 141, 180;
}

.message[data-severity='WARNING'] {
  --user-message-color: 240, 173, 78;
}

.message[data-severity='ERROR'] {
  --user-message-color: 217, 83, 79;
}

.message[data-severity='DEBUG'] {
  --user-message-color: 217, 83, 79;
}

.icon {
  color: rgb(var(--user-message-color));
}

.empty {
  padding: 0.5rem 0.75rem;
  background-color: #fafafa;
  font-style: italic;
}
