.message {
  position: relative;
  padding: 0.4em;
  opacity: 1;
}

.message:not(:first-child) {
  border-top: 2px solid #333;
}

.INFO {
  border-color: #4e677b;
  background-color: rgba(91, 141, 180, 0.8);
}

.WARNING {
  border-color: #2196f3;
  background-color: rgba(240, 173, 78, 0.8);
}

.ERROR {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.8);
}

.DEBUG {
  border-color: #d9534f;
  background-color: rgba(217, 83, 79, 0.8);
}

.messageText {
  color: #fff;
  margin-left: 7px;
  font-weight: bold;
}
