.queue {
  flex: 1;
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: white;
}

.queue ul li.active {
  background-color: rgba(0, 0, 0, 0);
}

.queueBody {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative; /* for loader */
  border: 1px solid var(--bs-border-color);
  border-top: 0;
}

.logs {
  display: flex;
  flex-direction: column;
  height: 25vh;
  min-height: 10rem;
}
.logsHeader {
  flex: none;
  background-color: #eef;
  padding: 0.5rem 1rem;
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}
.logsBody {
  flex: 1;
  overflow: auto;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  opacity: 0.5;
}
